/* menu.css */
.menu-ad-border-bottom {
    border-bottom: 1px solid black;
    padding: 10px 0px 10px 0px;
    background-color: #6FC4C4;

  }
 .menu-ad-float-left {
    float: left;
    background-color: #6FC4C4;
    
  }
  div.float-right {
    float: right;
    color: white; /* Set text color for the Hello [username] | Logout section */
  }
  
  ul.menuad {
    margin: 0px;
    padding: 0px;
  }
  
  li.menuad {
    display: inline;
    margin-right: 20px;
  }
  
  li.menuad a {
    text-decoration: none;
    color: #000; /* Link text color */
    transition: color 0.3s ease; /* Add a smooth transition effect */
  }
  
  li.menuad a:hover {
    color: #f34949; /* Change the color on hover to your preferred color */
  }
  
  .float-clear {
    clear: both;
  }