.product-detail-align-center{
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color:#DBEAE9 ;
    

}
.product-detail-form{
    margin-top: 0%;
    display: inline;
    width: 95%;
    text-align: center;
    left: 10%;
    height: 900px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-detail-description{
    width: 60%;
    background-color: #9ABCBF;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.img-detail img{
    border-radius: 15px;

}
.box-detail{
    width: 39%;
    height: 90%;
    justify-content: space-around; /* Adjusted to space-around for even spacing */
    flex-wrap: wrap;
    border-radius: 15px;
    flex-direction: column;
}
.box-product-variant{
    width: 100% ;
    justify-content: space-around; /* Adjusted to space-around for even spacing */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    padding: 0px;
}
.box-title{
    width: 100%;
}
.box-title p{
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    align-items: start;
    
}
.box-price{
    justify-content: space-around;
    display: inline;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0%;
    padding: 0px;
}
.box-data {
    width: 100% ;
    justify-content: space-around; /* Adjusted to space-around for even spacing */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8%;
    padding: 0px;

  }
.list-data {
    margin: 5px 0 0 0;
    margin-left: 10px;
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.list-variant{
    margin: 5px 0 0 0;
    margin-left: 10px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around; /* Adjusted to space-around for even spacing */
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.item-list-variant{
    position: relative;
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 50px;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #7f8786;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.item-list-variant a{
    flex-direction: row;
    display: flex;

}
.item-list-data {
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #7f8786;
  }
  .item-list-variant.active,
  .item-list-data.active  {
    background-color: #DBEAE9;
    border: 2px solid black; 
    border-radius: 15px;  /* Biên khi được chọn */
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3); /* Đổ bóng bên trong với màu đen có độ trong suốt */
  
  }
  .check-icon-data {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 22%;
    margin-left: 10px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #DBEAE9;
    color: black;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    border: 2px solid #000000;
  }
  .check-icon {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: -10px;
    margin-left:-100px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #DBEAE9;
    color: black;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    border: 2px solid #000000;
  }
  .item-list-data.active .check-icon-data {
    display: block;
  }
  .item-data {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
  }
  
  .item-name-data {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .check-icon {
    margin-right: 10px;
  }
  
  .align-item-center {
    display: flex;
    align-items: center;
  }
  
  
  .item-name,
.item-des span {
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
}
  .item-des {
    display: flex;
    flex-grow: 1; /* Allow item-des to grow and take available space */

    flex-direction: column;
    justify-content: center; /* Align items vertically in the center */
    /* Stack item-name and price vertically */
  }
  .item-list-variant img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px; /* Add margin to separate image and text */
  }
.btn-buy-now {
    justify-content: space-around;
    display: flex;
  width: 100%;
  height: 20%; /* Adjusted the height based on your preference */
  margin-top: 5%; /* Adjusted the margin based on your preference */
  align-items: center;
}
.btn-buy-now button{
    height: 100%;
    background-color: #f34949;
    border-radius: 15px;
    border: none;
    color: #fff;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3); /* Đổ bóng bên trong với màu đen có độ trong suốt */

}
.btn-buy-now button:hover{
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}
.btn-price{
    border-radius: 15px;
    background-color: #E8F2F1;
    justify-content: space-around;
    display: flex;
  width: 100%;
  height: 10%; /* Adjusted the height based on your preference */
  margin-top: 10%; /* Adjusted the margin based on your preference */
  align-items: center;
  box-shadow: 5px 8px  rgba(111, 111, 111, 0.5);

}
.btn-price-list {
    margin: 5px 0 0 0;
    margin-left: 10px;
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.item-list-price{
    width: 150px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #7f8786;
  }
  .btn-end button{
    background-color: #E8F2F1;
    border: none;
    width: 30%;
    box-shadow: 5px 8px  rgba(111, 111, 111, 0.5);


  }
  .btn-end button:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  }
  .btn-buy-now .custom-cart-icon{
    height: 100px;
    border-radius: 15px;
    border: 2px solid #f34949;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
    height: 100%; /* Đổ bóng bên trong với màu đen có độ trong suốt */
    background-color: #fff;
    color: #000000;
  }
 
  .btn-cart{
    height: 70px;
    flex-direction: column;
    display: flex;
  }
