.align-center-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;

}
.profile-wrapper{
    width: 420px;
    background-color:#6FC4C4;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}
.profile-wrapper h2{
    font-size: 36px;
    text-align: center;

}
.profile-wrapper .input-box-profile{
    position: relative;
    width:100% ;
    height: 50px;
    margin: 30px 0 ;
}
.input-box-profile input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.input-box-profile input::placeholder{
    color: #fff;

}
.input-box-profile .icon-profile{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) ;
    font-size: 20px;
}
.profile-wrapper .remember-forgot-profile{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0px 15px;

}
.remember-forgot-profile label input{
    accent-color: #fff;
    margin-right: 3px;

}
.remember-forgot-profile a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot-profile a:hover{
    text-decoration: underline;
}
.profile-wrapper .btn-profile-submit{
    width: 100%;
    height: 45px;
    background:#fff;
    border: none;
    outline: none;
    border-radius: 40px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600px;
}
.btn-profile-submit:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}
.profile-wrapper .register-link-profile{
    font-size: 14.5px;
    text-align: center;
    margin:20px 0 15px ;
}
.register-link-profile p link{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link-profile p link:hover{
    text-decoration: underline;
}